/*
position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
*/


body{
  //background-color: #353775;
background-image: radial-gradient(#fafafa 5%, transparent 5%),
     radial-gradient(#fafafa 5%, transparent 5%);
  background-color: #2d2563;
  background-position: 0 0, 50px 50px;
  background-size: 25px 25px;
  width: 100%;
}
.main_{
	border-radius: 32px;
  background-color: #5417b3;
  position: absolute;
  top: 8%;
  left: 20%;
  height: 25%;
  width: 60%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.main_:hover{
  padding: 10px;
  box-shadow: 3px 10px #2c1452;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.campo_in{
}
.testo_in{
	color: white;
	background-color: inherit;
	border: none;
  border-bottom: 2px solid #DBC5F7;
  position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  width: 75%;
}
.testo_in:focus{
	background-color: inherit;
}
.pulsante{
  background-color: #DBC5F7;
  border: 2px solid #9B6FD3;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 7vh;
  position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
}
.pulsante:hover{
  color:white;
  background-color: #9B6FD3;
}
p{
  position: absolute;
      top: 10%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 24px; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
}
p:hover{
	text-shadow: 3px 2px #7a7a7a;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}